{% extends 'base.html' %}
{% block content %}

<section class="content">
    <div class="create_ticket_block">
        <h2>Créer un ticket</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label>Titre</label><br>
                {{ ticket_form.title }}
            </p>
            <p>
                <label>Description</label>
                {{ ticket_form.description }}
            </p>
            <p>
                <label>Image</label>
                </p>
            <p>
                <label for="image-upload" class="custom-file-btn">Télécharger fichier</label>
                <span id="file-name">Aucun fichier sélectionné</span>
                {{ ticket_form.image }}
            </p>
            <p class="submit_p">
                <input class="ticket_submit_button" title="Créer un ticket" type="submit" value="Envoyer">
            </p>
        </form>
    </div>
</section>
<script>
document.getElementById("image-upload").addEventListener("change", function () {
    const fileName = this.files.length > 0
        ? this.files[0].name
        : "Aucun fichier sélectionné";
    document.getElementById("file-name").textContent = fileName;
});
</script>
{% endblock %}