{% extends 'base_feed.html' %}

{% block content %}

<section class="content" aria-roledescription="region">
    <div class="create_ticket_block">
        <h2>Créer un ticket</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label>Titre</label><br>
                {{ ticket_form.title }}
            </p>
            <p>
                <label>Description</label>
                {{ ticket_form.description }}
            </p>
            <p>
                <label>Image</label>
                </p>
            <p>
                <label for="image-upload" class="button button--file">Télécharger fichier</label>
                <span id="file-name">Aucun fichier sélectionné</span>
                {{ ticket_form.image }}
            </p>

            <div class="actions_buttons">
                <a class="button button--ticket"
                   title="Bouton Retourner"
                   href="{% url 'feed:feed' %}">Retourner</a>
                <p class="submit_p">
                    <input class="button button--ticket" title="Créer un ticket" type="submit" value="Envoyer">
                </p>
            </div>
        </form>
    </div>
</section>
<script>
document.getElementById("image-upload").addEventListener("change", function () {
    const fileName = this.files.length > 0
        ? this.files[0].name
        : "Aucun fichier sélectionné";
    document.getElementById("file-name").textContent = fileName;
});
</script>
{% endblock %}