{% extends 'base.html' %}
{% block content %}

<section class="content">
    <div class="create_ticket_block">
        <h2>Supprimer un ticket</h2>
         <form action="" method="post" enctype="multipart/form-data">
         {% csrf_token %}

                <h3>Vous êtes en train de supprimer ce ticket</h3>
                {% include 'feed/ticket_details.html' %}

                <p class="submit_p">
                    <input class="ticket_submit_button" title="Supprimer" type="submit" value="Supprimer">
                </p>
        </form>
    </div>
</section>

{% endblock %}