{% extends 'base_feed.html' %}
{% block content %}

<br>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<section class="content" aria-roledescription="region">
    <div class="followpage_details">
        <h2>ABONNEMENTS<div class="short-feed-separator"></div></h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="follow_title">
                <label>Suivre d'autres utilisateurs</label><br>
                {{ follow_form.username }}
            </p>

            <p class="follow_submit_p" id="follow_submit_p">
                <input class="button button--follow"
                       title="Bouton Suivre un utilisateur" type="submit" value="Envoyer">
            </p>
            <br>
            <div class="feed-separator"></div>

            <p class="p_following">
                <label>Abonnements</label>
            </p>
            <div class="follow">
                {% for follow in following %}
                    <p class="following">{{ follow.followed_user.username }}</p>

                    <a title="Bouton Se désabonner de {{follow.followed_user.username}}"
                       href="{% url 'feed:delete-follow' user_id=follow.followed_user.id %}">Se désabonner</a>

                    <br>
                {% endfor %}
            </div>
            <p class="p_followedby">
                <label>Abonnés</label>
            </p>
            <div class="follow">
                {% for follow in followed_by %}
                    <p class="followedby">{{ follow.user.username }}</p>
                {% endfor %}
            </div>
        </form>
    </div>
</section>
<script>
    function debounce(func, timeout = 300){
          let timer;
          return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
            };
    }
    function validateInput(){
          console.log('Validate user input');
          document.getElementById("form-input").addEventListener("keyup", event => {
                event.preventDefault()
                let userInput = document.getElementById("form-input").value;
                let formData = new FormData()

                let headers = new Headers();
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                headers.append('X-CSRFToken', csrftoken);

                formData.append('user', userInput)
                const request = new Request("{% url 'feed:follow-compute-user' %}", {method: 'POST', body: formData, headers: headers});

                fetch(request)
                    .then(response => response.json())
                    .then(result => {
                        let btn = document.getElementById('follow_submit_p');
                        if (result["response"]) {
                            btn.style.display = "flex"
                        } else {
                            btn.style.display = "none"
                        }
                    })
                })
    }
    const processChange = debounce(() => validateInput());
</script>
{% endblock %}