{% extends 'base.html' %}
{% load feed_extras %}
{% block content %}

<br>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<section class="content">
    {% for post in feed_posts %}
        {% if post.content_type == 'Ticket'  %}
            {% include 'feed/partials/ticket_snippet.html' with ticket=post target='feed' review_flag=post.review_flag has_time=True %}
        {% elif post.content_type == 'Review' %}
            {% include 'feed/partials/review_snippet.html' with review=post target='feed' %}
        {% endif %}
    {% endfor %}
</section>

{% endblock %}