{% extends 'core/base_feed.html' %}

{% load feed_extras %}
{% block content %}

<br>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<section class="content" aria-roledescription="region">
    <div class="feedpage_details">
        <div class="section_title">
            <h2>VOTRE FLUX</h2>
            <div class="short-feed-separator"></div>
        </div>
        <div class="add_buttons">
            <h3><a class="button button--ticket add_button"
               href="./tickets/add/"
                   title="Bouton Demander une critique">Demander une critique</a></h3>

            <h3><a class="button button--review add_button"
               href="./reviews/add/"
               title="Bouton Créer une critique">Créer une critique</a></h3>
        </div>

        <div class="feed-separator"></div>

        {% for post in page_obj %}
            {% if post.content_type == 'Ticket'  %}
                {% include 'feed/partials/ticket_snippet.html' with ticket=post target='feed' review_flag=post.review_flag has_time=True header=False %}
            {% elif post.content_type == 'Review' %}
                {% include 'feed/partials/review_snippet.html' with review=post target='feed' header=True %}
            {% endif %}
        {% endfor %}

        <div class="feed-separator"></div>

        <span class="pagination">
            {% if page_obj.has_previous %}
                <a title="Bouton Première page" href="?page=1">❰ ❰</a>
                <a title="Bouton Page précédente" href="?page={{ page_obj.previous_page_number }}">❰</a>
            {% endif %}
            <span>
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a title="Bouton Page suivante" href="?page={{ page_obj.next_page_number }}">❱</a>
                <a title="Bouton Dernière page" href="?page={{ page_obj.paginator.num_pages }}">❱ ❱</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock %}