<div class="ticket_details">
    {% if request.user == ticket.user%}
        <h4>Vous avez publié un ticket</h4>
    {% else %}
        <h4>{{ ticket.user }} a publié un ticket</h4>
    {% endif %}
    <h5>{{ ticket.time_created }}</h5>

    <p class="ticket_title">{{ ticket.title }}</p>

    <p class="description">{{ ticket.description }}</p>

    <div class="ticket_image">
        {% if ticket.image %}
            <img alt="Image du ticket" title="Image du ticket" src="{{ticket.image.url}}">
        {% endif %}
    </div>
</div>