{% extends 'core/base_feed.html' %}

{% block content %}

<section class="content" aria-roledescription="region">
    <div class="create_ticket_block">
        <div class="section_title">
            <h2>Modifier votre ticket</h2>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label>Titre</label><br>
                {{ ticket_form.title }}
            </p>
            <p>
                <label>Description</label>
                {{ ticket_form.description }}
            </p>
            <p>
                <label>Image</label>
                <br>
                <div class="ticket_image">
                    {% if ticket.image %}
                        <img alt="Image du ticket" title="Image du ticket" src="{{ticket.image.url}}">
                    {% endif %}
                </div>
            </p>
            <p>
                <label for="image-upload" class="button button--file">Télécharger fichier</label>
                <input type="file" id="image-upload" name="image" accept="image/*" hidden>
                <span id="file-name">Aucun fichier sélectionné</span>
            </p>

            <div class="actions_buttons">
                <a class="button button--ticket"
                   title="Bouton Retourner"
                   href="{% url 'feed:posts' %}">Retourner</a>
                <p class="submit_p">
                    <input class="button button--ticket" title="Modifier un ticket" type="submit" value="Envoyer">
                </p>
            </div>
        </form>
    </div>
</section>
<script>
document.getElementById("image-upload").addEventListener("change", function () {
    const fileName = this.files.length > 0
        ? this.files[0].name
        : "Aucun fichier sélectionné";
    document.getElementById("file-name").textContent = fileName;
});

</script>
{% endblock %}