*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: lightgray;
    color: #0898ec;
    font-family: "Segoe UI", system-ui, sans-serif;
    font-size: 16px;
}

body.high-contrast {
    background: white;

}

header{
    border: 1px solid #292b33;
    border-radius: 8px;
    width: 100%;
    background-color: #0898ec;

}

header div {
    display: inline-block;
    position: absolute;
}

header .eye_logo {
    height: 25px;
}

h1 {
    display: block;
    min-height: 26px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 5px;
}

header .contraste-btn {
    position: absolute;
    margin: 43px 6px;
    color: black;
    background: white;
    border-radius: 0 0 8px 8px;
    padding: 5px;
    font-size: 16px;
    width: 150px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: 2px solid #0898ec;
}

header .contraste-btn div:hover {
    text-decoration: underline;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -25px;
    gap: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    text-align: center;
    /*background-color: rgba(8, 152, 236, 1%);*/
    background-color: rgba(255, 255, 255, 30%);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages .errorlist {
    list-style: none;
}

.messages .error, .messages .errorlist li {
    color: darkred;
    font-weight: bold;
}

.messages .success {
    color: darkgreen;
    font-weight: bold;
}

.content form input[type="text"],
.content form input[type="password"] {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid #0898ec;
    height : 35px;
    border-radius: 16px;
}

.content form li {
    color: darkred;
}

.content input:focus {
    outline: none;
    border: 2px solid #0898ec;
    box-shadow: 0 0 0 3px rgba(8, 152, 236, 0.2);
}

.connect_block {
    position: relative;
}

.button {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #0898ec;
    font-size: 16px;
    background-color: #0898ec;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: white;
    transition:
        background-color 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.button--subscription, .button--connection {

}

.button--subscribe, .button--cancel {
    padding: 8px 25px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button--cancel,
.button--subscription {
    position: static;
}

.button--subscribe:visited, .button--cancel:visited {
    color: white;
}

.button:hover {
    background-color: #067fc4;
    transform: translateY(-1px);
    font-weight: bold;
    border: 1px solid #292b33;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(8, 152, 236, 0.4);
}

.footer {
    background-color: #0898ec;
    border: 1px solid #292b33;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.footer p {
    font-size: 11px;
    color: white;
}

/* wcag */
body.high-contrast p, body.high-contrast h1, body.high-contrast h2 {
    color: black;
}

body.high-contrast .content,
body.high-contrast header,
body.high-contrast .footer {
    background: white;
}

body.high-contrast .button {
    color: white;
    background: black;
    border: 1px solid white;
    font-size: 18px;
    text-decoration: none;
}

body.high-contrast .button:hover {
    text-decoration: underline;
    border: 1px solid black;
}

body.high-contrast a:visited {
    color: white;
}

body.high-contrast header .contraste-btn {
    display: block;
    position: absolute;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: underline;
}

body.high-contrast .content form input[type="text"],
body.high-contrast .content form input[type="password"] {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
}

body.high-contrast .content input:focus {
    outline: none;
    border: 2px solid #292b33;
    box-shadow: 0 0 0 3px rgba(41, 43, 51, 0.2);

}

/* Tablet */
@media (min-width: 415px) and (max-width: 810px) {
    .content form input[type="text"],
    .content form input[type="password"] {
        width: 300px;
    }

    header p {
        margin-top: 10px;
    }

    header .contraste-btn {
        margin: 47px 6px;
    }
}

/* Desktop */
@media (min-width: 811px) {
    .content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
    }

    header h1 {
        margin-top: 10px;
    }

    header nav {
        margin-top: -50px;
        justify-content: right;
    }

    header .contraste-btn {
        margin: 47px 6px;
    }

    .content form input[type="text"],
    .content form input[type="password"] {
        width: 350px;
    }

    /* WCAG */
    body.high-contrast .contraste-btn {
        margin: 47px 6px;
    }
}
