{% load feed_extras %}
<div class="post post--review">
    <h4>{% get_poster_display review.user %} publié une critique</h4>

    <h5>{{ review.time_created }} ⯇</h5>

    <div class="review_title_rating">
        <p class="review_title">{{ review.headline }}</p><p>•</p>
        {% if review.rating == 0 %}
            <p class="star">✰ ✰ ✰ ✰ ✰</p>
        {% endif %}
        {% if review.rating == 1 %}
            <P class="star">✮ ✰ ✰ ✰ ✰</P>
        {% endif %}
        {% if review.rating == 2 %}
            <P class="star">✮ ✮ ✰ ✰ ✰</P>
        {% endif %}
        {% if review.rating == 3 %}
            <P class="star">✮ ✮ ✮ ✰ ✰</P>
        {% endif %}
        {% if review.rating == 4 %}
            <P class="star">✮ ✮ ✮ ✮ ✰</P>
        {% endif %}
        {% if review.rating == 5 %}
            <P class="star">✮ ✮ ✮ ✮ ✮</P>
        {% endif %}
    </div>

    <p class="description">{{ review.body }}</p>

    <div class="feed-separator"></div>

    {% if target == 'feed' %}
        {% include 'feed/partials/ticket_snippet.html' with ticket=review.ticket target='feed' has_time=False header=header %}

    {% elif target == 'post' %}
        {% include 'feed/partials/ticket_snippet.html' with ticket=review.ticket target='post' has_time=False header=header %}
        <div class="modify_buttons">
            {% if review.user == request.user %}
                <a class="button button--review"
                   title="Bouton Modifier"
                   href="{% url 'feed:update-review' review_id=review.id %}">Modifier</a>
                <a class="button button--review"
                   title="Bouton Supprimer"
                   href="{% url 'feed:delete-review' review_id=review.id %}">Supprimer</a>
            {% endif %}
        </div>
    {% endif %}
</div>